@use '../../styles/index' as s;
@use 'sass:map';

.tag {
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
  @include s.text-style-extended(md, 800, gray-900);
  font-family: 'Times New Roman', serif;

  &--sm {
    padding: 0.2rem 0.4rem;
    font-size: 0.75rem;
    border-radius: 0.25rem;
  }

  &--md {
    padding: 0.4rem 0.6rem;
    font-size: 0.875rem;
    border-radius: 0.375rem;
  }

  &--lg {
    padding: 0.5rem 0.8rem;
    font-size: 1rem;
    border-radius: 0.5rem;
  }

  // variants
  &--default {
    background: s.color(gray-200);
    color: s.color(gray-900);

    .tag__close {
      color: s.color(gray-900);
    }
  }

  &--success {
    background: s.color(green-100);
    color: s.color(green-900);

    .tag__close {
      color: s.color(green-900);
    }
  }

  &--warning {
    background: s.color(orange-100);
    color: s.color(orange-900);

    .tag__close {
      color: s.color(orange-900);
    }
  }

  &--error {
    background: s.color(red-100);
    color: s.color(red-900);

    .tag__close {
      color: s.color(red-900);
    }
  }

  &--outline {
    border: 1px solid s.color(gray-400);
    color: s.color(gray-900);
    background: transparent;

    .tag__close {
      color: s.color(gray-900);
    }
  }

  &__icon {
    margin-right: 0.25rem;
  }

  // 공통 닫기버튼 스타일
  &__close {
    background: none;
    border: none;
    cursor: pointer;
    @include s.text-style-extended(md, 600);
    padding: 0;
  }
}
