@use '../../styles/index' as s;
@use 'sass:map';

.input__wrapper {
  position: relative;
  cursor: text;
  width: fit-content;
  height: fit-content;
  @include s.flex-box(center, center, column);
}

// 인풋 필드
.input {
  width: 100%;
  padding: 6px 12px;
  font-family: 'Times New Roman', serif;
  border: 2px solid s.color(black);
  border-radius: 0;
  background: s.color(paper-background);
  background-size: cover;
  @include s.text-style-extended(sm, 800, gray-900);
  transition: all 0.15s ease-in-out;
  box-sizing: border-box;

  &:hover {
    text-shadow: 1px 1px s.color(white);
  }

  &:focus {
    outline: none;
    text-shadow: 1px 1px s.color(white);
  }

  &:active {
    border-color: s.color(black);
    color: s.color(gray-900);
    text-shadow: none;
  }

  // variant가 title일 때
  &--title {
    padding-top: 12px;
  }

  // sm 이상
  @include s.mq(sm) {
    padding: 8px 16px;
    @include s.text-style-extended(md, 800, gray-900);

    &--title {
      padding-top: 16px;
    }
  }

  // md 이상
  @include s.mq(md) {
    padding: 10px 18px;
    @include s.text-style-extended(md, 900, gray-900);
  }

  // lg 이상
  @include s.mq(lg) {
    padding: 12px 20px;
    @include s.text-style-extended(lg, 900, gray-900);
  }

  // xl 이상
  @include s.mq(xl) {
    padding: 14px 24px;
    @include s.text-style-extended(lg, 900, gray-900);
  }
}

// placeholder 스타일 (label)
.input__placeholder {
  position: absolute;
  left: 6px;
  top: -8px;
  font-family: 'Times New Roman', serif;
  border: 2px solid s.color(black);
  @include s.text-style-extended(xs, 400, gray-900);
  background: s.color(paper-background);
  padding: 0 3px;
  pointer-events: none;
  transition: 0.2s;

  // sm 이상
  @include s.mq(sm) {
    left: 8px;
    top: -10px;
    padding: 0 4px;
    @include s.text-style-extended(xs, 400, gray-900);
  }

  // md 이상
  @include s.mq(md) {
    @include s.text-style-extended(sm, 400, gray-900);
  }

  // lg 이상
  @include s.mq(lg) {
    @include s.text-style-extended(sm, 500, gray-900);
  }

  // xl 이상
  @include s.mq(xl) {
    @include s.text-style-extended(md, 500, gray-900);
  }
}

// focus 시 placeholder 스타일
.input:focus + .input__placeholder,
.input:not(:placeholder-shown) + .input__placeholder {
  background: s.color(paper-background);
  padding: 0 4px;
}
