@use '../../styles/index' as s;
@use 'sass:map';

.btn {
  background: s.color(paper-background);
  background-size: cover;
  font-family: 'Times New Roman', serif;
  padding: 6px 18px;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
  border: 2px solid;
  @media (max-width: 640px) {
    @include s.text-style-extended(sm, 800, gray-900);
    padding: 5px 12px;
  }

  // default 버튼 스타일
  &--default {
    @include s.text-style-extended(md, 800, gray-900);
    border-color: s.color(black);
    &:hover,
    &:focus,
    &:active {
      background: s.color(gray-200);
      border-color: s.color(gray-900);
      color: s.color(gray-900);
      text-shadow: 1px 1px s.color(white);
    }
  }

  // secondary 버튼 스타일
  &--secondary {
    background: s.color(red-100);
    @include s.text-style-extended(md, 800, red-900);
    border-color: s.color(red-900);

    &:hover,
    &:focus,
    &:active {
      background: s.color(red-900);
      color: s.color(white);
      border-color: s.color(black);
    }
  }
}
