@use '../../styles/index' as s;
@use 'sass:map';

.btn {
  background: s.color(paper-background);
  background-size: cover;
  font-family: 'Times New Roman', serif;
  @include s.text-style-extended(md, 800, gray-900);
  border: 2px solid s.color(black);
  padding: 6px 18px;
  cursor: pointer;
  transition: all 0.15s ease-in-out;

  &:hover,
  &:focus,
  &:active {
    background-size: cover;
    border-color: s.color(red-900);
    color: s.color(red-900);
    text-shadow: 1px 1px s.color(white);
  }

  @media (max-width: 640px) {
    @include s.text-style-extended(sm, 800, gray-900);
    padding: 5px 12px;
  }
}

// 빨강 버튼 (secondary)
.btn.secondary {
  background: s.color(red-500);
  background-size: cover;
  border-color: s.color(black);
  font-family: 'Times New Roman', serif;
  @include s.text-style-extended(md, 800, white);
  border: 2px solid s.color(gray-700);
  padding: 6px 18px;
  cursor: pointer;
  transition: all 0.15s ease-in-out;

  &:hover,
  &:focus,
  &:active {
    background: s.color(red-0);
    background-size: cover;
    color: s.color(black);
    border-color: s.color(black);
  }

  @media (max-width: 640px) {
    @include s.text-style-extended(sm, 800, gray-900);
    padding: 5px 12px;
  }
}
