// 색상 변수
$colors: (
  black: #000,
  white: #fff,
  paper-background: #fffbea,

  // 그레이 스케일
  gray-200: #eeeeee,
  gray-300: #e0e0e0,
  gray-400: #bdbdbd,
  gray-500: #9e9e9e,
  gray-600: #757575,
  gray-700: #616161,
  gray-800: #424242,
  gray-900: #212121,

  // 노란색 스케일
  yellow-0: #ff0,
  yellow-100: #fff9c4,
  yellow-200: #fff59d,
  yellow-300: #fff176,
  yellow-400: #ffee58,
  yellow-500: #ffeb3b,
  yellow-600: #fdd835,
  yellow-700: #fbc02d,
  yellow-800: #f9a825,
  yellow-900: #f57f17,

  // 빨간색 스케일
  red-0: #c00,
  red-100: #ffcdd2,
  red-200: #ef9a9a,
  red-300: #e57373,
  red-400: #ef5350,
  red-500: #f44336,
  red-600: #e53935,
  red-700: #d32f2f,
  red-800: #c62828,
  red-900: #b71c1c
);

// 타이포그래피 변수
$typography: (
  xs: (
    fontSize: 12px,
    lineHeight: 1.5
  ),
  sm: (
    fontSize: 13px,
    lineHeight: 1.69
  ),
  md: (
    fontSize: 14px,
    lineHeight: 1.71
  ),
  lg: (
    fontSize: 16px,
    lineHeight: 1.625
  ),
  '2lg': (
    fontSize: 18px,
    lineHeight: 1.556
  ),
  xl: (
    fontSize: 20px,
    lineHeight: 1.6
  ),
  '2xl': (
    fontSize: 24px,
    lineHeight: 1.333
  ),
  '3xl': (
    fontSize: 32px,
    lineHeight: 1.313
  )
);

// 브레이크포인트 변수
$breakpoints: (
  // mobile landscape
  sm: 640px,
  // tablet
  md: 768px,
  // desktop, tablet landscape
  lg: 1024px,
  // large desktop
  xl: 1280px
);
