// 색상 변수
$colors: (
  // 블랙/그레이/화이트 계열
  black: #000000,
  gray-800: #171717,
  gray-700: #333236,
  gray-600: #4b4b4b,
  gray-500: #787486,
  gray-400: #9fa6b2,
  gray-300: #d9d9d9,
  gray-200: #eeeeee,
  gray-100: #fafafa,
  white: #ffffff,

  // 컬러 계열
  violet_5534DA: #5534da,
  violet_8: #f1effd,
  red_D6173A: #d6173a,
  green_7AC555: #7ac555,
  purple_760DDE: #760dde,
  orange_FFA500: #ffa500,
  blue_76A5EA: #76a5ea,
  pink_E876EA: #e876ea
);

// 타이포그래피 변수
$typography: (
  xs: (
    fontSize: 12px,
    lineHeight: 1.5,
  ),
  sm: (
    fontSize: 13px,
    lineHeight: 1.69,
  ),
  md: (
    fontSize: 14px,
    lineHeight: 1.71,
  ),
  lg: (
    fontSize: 16px,
    lineHeight: 1.625,
  ),
  "2lg": (
    fontSize: 18px,
    lineHeight: 1.556,
  ),
  xl: (
    fontSize: 20px,
    lineHeight: 1.6,
  ),
  "2xl": (
    fontSize: 24px,
    lineHeight: 1.333,
  ),
  "3xl": (
    fontSize: 32px,
    lineHeight: 1.313,
  ),
);

// 브레이크포인트 변수
$breakpoints: (
  // mobile landscape
  sm: 640px,
  // tablet
  md: 768px,
  // desktop, tablet landscape
  lg: 1024px,
  // large desktop
  xl: 1280px
);
