@use '../../styles/index' as s;
@use 'sass:map';


.input_wrapper {
  position: relative;
  cursor: pointer;
  width: 100%;
}

// 인풋 필드
.input_field {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: none; 
  background: s.color(gray-300); 
  color: s.color(gray-900);
 
  box-shadow:
    inset 1px 1px 0 0 s.color(white),
    1px 1px 0 0 s.color(gray-600),
    2px 2px 0 0 s.color(gray-900);
  transition:
    background-color 0.12s,
    color 0.12s,
    box-shadow 0.12s;


  &:hover,
  &:focus {
    outline: none;
    background: s.color(gray-300);
    color: s.color(gray-900);
    box-shadow:
      inset 1px 1px 0 0 s.color(white),
      2px 2px 0 0 s.color(gray-900); 
  }

  &:active {
    background: s.color(gray-300);
    color: s.color(gray-900);
    box-shadow:
      inset 1px 1px 0 0 s.color(white),
      1px 1px 0 0 s.color(gray-600),
      0px 0px 0 0 s.color(gray-900);
  }

  @media (max-width: 640px) {
    @include s.text-style-extended(md, 400, gray-900);
    padding: 5px 13px;
  }
}

// placeholder 스타일
.input_placeholder {
  position: absolute;
  left: 8px;
  top: -10px;
  @include s.text-style-extended(xs, 400, gray-900);
  background: s.color(white);
  padding: 0 4px;
  pointer-events: none;
  transition: 0.2s;
  box-shadow:
    inset 1px 1px 0 0 s.color(white),
    1px 1px 0 0 s.color(gray-600),
    0px 0px 0 0 s.color(gray-900);
}

// focus 시 placeholder 스타일
.input_field:focus + .input_placeholder,
.input_field:not(:placeholder-shown) + .input_placeholder {

  background: s.color(white);
  padding: 0 4px;
}